
@{
    ViewData["Title"] = "WelcomePage";
}

@model RegisterUser

<h1>Welcome Page</h1>

<!--Displays Welcome message with the UserName provided-->
<p style="color:blue">Welcome @Model.UserName</p>

