@{
    ViewData["Title"] = "Home Page";
}
    <h1>Welcome to the GC Coffee Shop</h1>
<a class="nav-link-text-dark" style="text-align:center" asp-controller="UserRegistration" asp-action="RegistrationForm">Link to Registration Form</a>
